.header {
float: inherit;

}

.panel-heading {

}

.panel-body {
  margin-top: auto;

}

.panel2 {
  font-size: ;
  font: sans-serif;
}

#head {
float: left;

}

.center {
  margin: 0;

}

.panel {
  position: relative;
  color: black;

}

hr {
  width: 90%;
  color: black;

}

#img1 {
 height: 200px;
 width: 200px;
 float: inherit;
}

#img2 {
  height: 200px;
  width: 400px;
  float: inherit;
}

#img3 {
  height: 200px;
  width: 400px;
  float: right;

}

#img4 {
  height: 200px;
  width: 400px;
  float: right;
  padding: 0 0 0 0;
}

#img5 {
  height: 200px;
  width: 400px;
  float: right;
}

#aside {
}

strong {
  font-variant: underline;
  float: inherit;
  position: static;
}
